body,
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1f1f1f;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
